*{
    padding: 0;
    margin: 0;
}
body{
    height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.button, .button1{
    width: 250px;
    height: 100px;
    color: orange;
    font-size: 2em;
    border-radius: 10px;
    margin: 30px;
}
.button1{
    width: 250px;
    height: 100px;
    color: orange;
    font-size: 2em;
    border-radius: 10px;
    margin: 30px;
}