.header{
    background-color: rgb(151, 204, 233);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 100px;
}
.header__nube1{
    animation-name: could1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    position: relative; 
}
@keyframes could1{
    0% {top: -150px;}
    100% {top: 150px;}
}
.header__fuego{
    margin-top: 115px;
    position: absolute; 
    margin-left: 65px;
    animation-name: fire;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.header__hombre{
    position: relative;
}
@keyframes fire{
    0% {transform: translateY(-2px);}
    100% {transform: translateY(2px);}  
}
@keyframes spaceman{
    0% {transform: translate(0,0)}
  100% {transform: translate(-13px,-7px)}
}
.header__fuego-hobre{
    animation-name: manefire;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes manefire{
    0% {transform: translate(0,0)}
  100% {transform: translate(-13px,-7px)}
}

.header__fuego-hobre:hover{
    animation-play-state: paused;
}
.header__nube2{
    animation-name: could2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    position: relative; 
}
@keyframes could2{
    0% {top: -200px;}
    100% {top: 200px;}
}
.header__nube3{
    margin-bottom: 200px;
    animation-name: could3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    position: relative; 
}
@keyframes could3{
    0% {transform: translateY(-10px)}
  100% {transform: translateY(250px)}
}

